REDIS_PASSWORD=REDIS_PASSWORD

MONGO_USER=MONGO_USER
MONGO_PASSWORD=MONGO_PASSWORD
API_GATEWAY_MONGO_USER=API_GATEWAY_MONGO_USER
API_GATEWAY_MONGO_PASSWORD=API_GATEWAY_MONGO_PASSWORD
API_GATEWAY_MONGO_DB=API_GATEWAY_MONGO_DB
API_GATEWAY_MONGO_ROLE=API_GATEWAY_MONGO_ROLE

POSTGRES_USER=POSTGRES_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=POSTGRES_DB
SANDBOX_PG_USER=SANDBOX_PG_USER
SANDBOX_PG_PASSWORD=SANDBOX_PG_PASSWORD

BULLMQ_SQL_QUEUE_NAME=BULLMQ_SQL_QUEUE_NAME

ENV_MODE=DEV
ADMIN_SECRET_CODE=ADMIN_SECRET_CODE
LOG_LEVEL=trace
CLIENT_URL=http://127.0.0.1
LOG_DIR=/var/logs/m_sql_studio/
API_GATEWAY_URL=http://127.0.0.1:8000
INTERNAL_API_KEY=INTERNAL_API_KEY
BETTER_AUTH_SECRET=01234567012345670123456701234567
BETTER_AUTH_URL=http://127.0.0.1
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DEFAULT_ADMIN_EMAIL=
DEFAULT_ADMIN_PASSWORD=DEFAULT_ADMIN_PASSWORD
NGINX_SERVER_NAME=NGINX_SERVER_NAME
